

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: yellow;
  opacity: 1;
}

/* target all bullets */
.swiper-pagination-bullet {
  background-color: #5eb1ff;
  opacity: 1;
  display: inline-block;
  width: 1rem;
  height: 1rem;

}
